.horizontal-scroll-container {
    width: 100%;
    height: fit-content;
    overflow: visible;

    ::-webkit-scrollbar {
        display: none;
        background-color: transparent; /* hide the scrollbar */
    }

    /* Optional: customize other scrollbar properties */
    ::-webkit-scrollbar-track {
        background-color: transparent; /* track color (behind the scrollbar) */
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent; /* thumb color (the draggable part) */
    }
	>div {
        margin-bottom: 0;
        display: flex;
        height: fit-content;
        flex-shrink: 0;
    }
	//> *:nth-last-child(1),
    //> *:nth-last-child(2){
    //    opacity: 0 !important;
    //    display: none !important;
    //    
    //    > * {
    //        background: transparent !important;
    //    }
    //}
}