/* =============== GEIST =============== */
@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist[wght].ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.font-geist {
    font-family: "Geist", sans-serif;
}

@font-face {
    font-family: "GeistMono";
    src: url("/fonts/GeistMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.font-geist-mono {
    font-family: "GeistMono", monospace;
}

:root {
  --font-geist: "Geist", sans-serif;
}

/* =============== TEX GYRE HEROS =============== */
@font-face {
    font-family: "Inter";
    src: url("/fonts/InterTight-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.font-inter {
    font-family: "Inter";
}